<%= render :partial => 'spree/admin/sale_type_prices/tabs', :locals => {:current => "Edit"} %>

<%= csrf_meta_tag %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @sale_type_price } %>

<%= form_for [:admin, @sale_type_price] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="clear"></div>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
